target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# eclipse
.settings/
.project
.classpath
testall.sh
gendocs.sh

# intellij
.idea/
*.iml

# data dumping
export/

